body {
    display: none;
    background: transparent;
    font-family: Arial, sans-serif;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    background: #111;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}


.section {
    margin-bottom: 15px;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background: #2c2c2c;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #444;
}

.close {
    background: darkred;
}
